.scheme-editor {

    .name {
        font-weight: bold;
    }
    .description {
        font-style: italic;
        color: #888;
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    ul, ol, li {
        list-style: none;
        padding: 0;
    }

    .code-group {
        margin-bottom: 20px;

        .codes {
            padding-left: 20px;

            .code {

            }
        }
    }
}
