{% extends "_layouts/base.html" %}

{% block page_title %}Dashboard view{% endblock %}
{% block body_class %}dash_detail{% endblock %}

{% block content %}

    <h1>Dashboard</h1>
    <p>Welcome to your dashboard.</p>
    
    <div class="row">
        <div class="col-md-6">
            <div id="project-panel" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-right"><span class="badge">{{ user.projects.count }}</span></div>
                    <h3 class="panel-title">Assigned project-list</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for project in user.projects.all %}
                         <li><a href='{% url 'project' project_slug=project.slug %}'>{{ project.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="assigned-task-panel" class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right"><span class="badge">{{ user.tasks_assigned.count}}</span></div>
                    <h3 class="panel-title">Assigned task-list</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for task in user.tasks_assigned.all %}
                        <li><a href='{% url 'coding' project_slug=task.project.slug task_pk=task.pk %}'>{{ task.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
