{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}

{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block body_class %}home-page{% endblock %}
{% block content %}
<!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->



<div class="jumbotron">
  <div class="container">
    <h1>Code your messages</h1>

    <p>This is an awesome tool for coding messages.</p>

    <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'user_dash' %}" >Start coding now »</a></p>
  </div>
</div>

{% endblock %}
