{% extends "_layouts/base.html" %}
{% load staticfiles djangular_tags %}

{% block page_title %}Coding view{% endblock %}
{% block body_class %}project-coding-view{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="{% static 'bower/angular/angular.js' %}"></script>
    <script src="{% static 'bower/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'bower/angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'bower/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.js' %}"></script>

    <script src="{% static 'base/services.js' %}"></script>
    <script src="{% static 'base/models.js' %}"></script>
    <script src="{% static 'coding/coding.js' %}"></script>
    <script src="{% static 'coding/controllers.js' %}"></script>
    <script src="{% static 'coding/services.js' %}"></script>
    <script src="{% static 'coding/models.js' %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/less" href="{% static 'css/project/coding.less' %}">
{% endblock %}

{% block bootstrapping %}
    {{ block.super }}
    <script>
        angular.module('ng.django.urls')
                .constant('patterns', {% load_djng_urls %});

        angular.module('message_coding.coding')
                .constant('django_config', {
                    'STATIC_URL': '{% static '' %}'
                });

        angular.module('message_coding.coding.bootstrap')
                .constant('message_coding.coding.bootstrap.initial_data', {
                    project: {{ project_json|safe }},
                    task: {{ task_json|safe }},
                    selection: {{ selection_json|safe }},
                    user: {{ user_json|safe }}
                });
    </script>
{% endblock %}

{% block content %}

    <div class="container" ng-app="message_coding.coding">
        <div ng-controller="message_coding.coding.controllers.CodingController">
            <h1 ng-bind="task.name">{{ task.name }}</h1>

            <p ng-bind="task.description">{{ task.description }}</p>

            <div class="col-md-8">
                <div class="messages" ng-repeat="msg in pager.messages">
                    <div class="message">
                        @<span class="sender" ng-bind="msg.sender"></span>:
                        <span class="text" ng-bind="msg.text"></span>
                    </div>
                </div>
                <p>
                    <button class="btn btn-default btn-sm"
                            ng-disabled="!pager.hasPrevious"
                            ng-click="pager.previousPage()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Previous
                    </button>

                    Page <span ng-bind="pager.page"></span> of <span ng-bind="pager.pageCount"></span>

                    <button class="btn btn-default btn-sm"
                            ng-disabled="!pager.hasNext"
                            ng-click="pager.nextPage()">
                        Next
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </p>
            </div>

            <div class="code-scheme col-md-4"></div>
        </div>
    </div>
{% endblock %}
