{% extends "_layouts/base.html" %}
{% load staticfiles djangular_tags %}

{% block page_title %}Coding view{% endblock %}
{% block body_class %}project-coding-view{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="{% static 'bower/angular/angular.js' %}"></script>
    <script src="{% static 'bower/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'bower/angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'bower/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.js' %}"></script>
    <script src="{% static 'bower/angular-selection-model/dist/selection-model.js' %}"></script>
    <script src="{% static 'bower/ngInfiniteScroll/build/ng-infinite-scroll.js' %}"></script>

    <script src="{% static 'base/services.js' %}"></script>
    <script src="{% static 'base/models.js' %}"></script>
    <script src="{% static 'coding/coding.js' %}"></script>
    <script src="{% static 'coding/controllers.js' %}"></script>
    <script src="{% static 'coding/services.js' %}"></script>
    <script src="{% static 'coding/models.js' %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/less" href="{% static 'css/project/coding.less' %}">
{% endblock %}

{% block bootstrapping %}
    {{ block.super }}
    <script>
        angular.module('message_coding.coding')
                .constant('django_config', {
                    'STATIC_URL': '{% static '' %}'
                });

        angular.module('message_coding.coding.bootstrap')
                .constant('message_coding.coding.bootstrap.initial_data', {
                    project: {{ project_json|safe }},
                    task: {{ task_json|safe }},
                    user: {{ user_json|safe }},
                    code_scheme: {{ code_scheme_json|safe }}
                });
    </script>
{% endblock %}

{% block content %}

    <div ng-app="message_coding.coding">
        <div ng-controller="message_coding.coding.controllers.CodingController">
            <h1 ng-bind="task.name">{{ task.name }}</h1>

            <p ng-bind="task.description">{{ task.description }}</p>

            <div class="row">
                <div class="col-md-8">
                    <div class="messages-scroll-container">
                        <div class="messages"
                             infinite-scroll="infiniteScroll()"
                             infinite-scroll-parent="true">
                            <div class="message"
                                 ng-repeat="msg in messages"
                                 selection-model
                                 selection-model-selected-class="selected"
                                 selection-model-selected-items="selectedMessages">

                                <span class="time" ng-bind="msg.time"></span>

                                <span class="sender" ng-bind="msg.sender"></span>:
                                <span class="text" ng-bind="msg.text"></span>

                                <ul class="codes clearfix">
                                    <li ng-repeat="ci in msg._codeInstances">
                                        <span class="name label label-default" ng-bind="ci._code.name"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p>
                        Loaded page <span ng-bind="pager.page"></span> of <span ng-bind="pager.totalCount"></span>
                    </p>
                </div>

                <div class="col-md-4 code-scheme-bucket">
                    <div class="well">
                        <ul class="code-scheme">
                            <li ng-repeat="grp in code_scheme.code_groups">

                                <span class="name" ng-bind="grp.name"></span>

                                <ul class="codes">
                                    <li ng-repeat="code in grp.codes">
                                        <div class="code btn btn-default" ng-click="codeClicked(code)"
                                             ng-class="appliedToSelection(code) ? 'active' : ''"
                                             ng-disabled="selectedMessages.length == 0">
                                            <span class="name" ng-bind="code.name"></span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
