{% extends "_layouts/base.html" %}

{% block page_title %}Task Review{% endblock %}
{% block body_class %}project-task-view{% endblock %}

{% block content %}


    {% for code_group in task.scheme.code_groups.all %}
    <h4>{{ code_group.name }} ({{ code_group.codes.count }})</h4>
    <ul>
        {% for code in code_group.codes.all %}
        <li>{{ code.name }}</li>
        {% endfor %}
    </ul>
    {% endfor %}

	<h3>Code Counts</h3>
    <ul>
    	{% for code,info in code_info.items %}
        	<li>{{code}} - {{info.count}}
        	<ul>
        		{% for example in info.examples %}
        		<li>{{example.text}}</li>
        		{% endfor %}
        	</ul>
        	</li>
        {% endfor %}
    </ul>

    <h3>Code Diff</h3>
    {% for code, inst in diff_summary.items %}
        <div>
        {{ code }}
            <div>
            <table border="1">
                <tr>
                <th>Y\N</th>
                {% for coder1, coder2 in inst.items %}
                    <th>{{ coder1 }}</th>
                {% endfor %}
                </tr>
                {% for coder1, coder2 in inst.items %}
                    <tr>
                        <th>{{ coder1 }}</th>
                        {% for coder, value in coder2.items %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            </div>

        </div>
    {% endfor %}
{% endblock %}
