{% extends "_layouts/base.html" %}

{% block page_title %}Task Review{% endblock %}
{% block body_class %}project-task-view{% endblock %}

{% block content %}

    <div class="container">

    {% for code_group in task.scheme.code_groups.all %}
    <h4>{{ code_group.name }} ({{ code_group.codes.count }})</h4>
    <ul>
        {% for code in code_group.codes.all %}
        <li>{{ code.name }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
    
	<h3> Code Counts</h3>
    <ul>
    	{% for code,examples in examples_by_code.items %}
        	<li>{{code}}
        	<ul>
        		{% for example in examples %}
        		<li>{{example.text}}</li>
        		{% endfor %}	
        	</ul>
        	</li>
        {% endfor %}
    </ul>
    
    </div>
{% endblock %}
