{% extends "_layouts/base.html" %}

{% block page_title %}Task view{% endblock %}
{% block body_class %}project-task-view{% endblock %}

{% block content %}

    <div class="container">
    <h1>{{ task.name }}</h1>

    <p>{{ task.description }}</p>

    <p>In project: <a href='{% url 'project' project_slug=project.slug %}'>{{ project.name }}</a></p>
    
    <h3>Selection ({{ task.selection.dataset.messages.count }})</h3>
    <ul>
        {% for message in task.selection.dataset.messages.all %}
        <li>{{ message.text }}</li>
    {% endfor %}
    </ul>
    
    <h3>Scheme</h3>
    {% for code_group in task.scheme.code_groups.all %}
    <h4>{{ code_group.name }} ({{ code_group.codes.count }})</h4>
    <ul>
        {% for code in code_group.codes.all %}
        <li>{{ code.name }}</li>
        {% endfor %}
    </ul>
    {% endfor %}

    <h3>Assigned Coders ({{ task.assigned_coders.count }})</h3>
    <ul>
        {% for coder in task.assigned_coders.all %}
        <li>{{ coder }}</li>
    {% endfor %}
    </ul>

    </div>
{% endblock %}
