{% extends "_layouts/base.html" %}

{% block page_title %}Task view{% endblock %}
{% block body_class %}project-task-view{% endblock %}

{% block content %}

    <h1>{{ task.name }}</h1>

    <p>{{ task.description }}</p>

    <p>In project: <a href='{% url 'project' project_slug=project.slug %}'>{{ project.name }}</a></p>
    <h3>Selection ({{ msgs.count }})</h3>
    <ul>        
        {% for msg in msgs %}
        <li>{{ msg.text }}</li>
    {% endfor %}
    </ul>
    
    <h3>Scheme</h3>
    {% for code_group in task.scheme.code_groups.all %}
    <h4>{{ code_group.name }} ({{ code_group.codes.count }})</h4>
    <ul>
        {% for code in code_group.codes.all %}
        <li>{{ code.name }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
    
    
    <h3> Coding Task Page</h3>
    <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'coding' project_slug=project.slug task_pk=task.pk %}">Begin Coding »</a></p>
    
    <h3>Assigned Coders ({{ task.assigned_coders.count }})</h3>
    <ul>
        {% for coder in task.assigned_coders.all %}
        <li>{{ coder }}</li>
    {% endfor %}
    </ul>

	<h3> Codes applied to the task </h3>
    <ul>
    	{% for code,examples in examples_by_code.items %}
        	<li>{{code}}
        	<ul>
        		{% for example in examples %}
        		<li>{{example.text}}</li>
        		{% endfor %}	
        	</ul>
        	</li>
        {% endfor %}
    </ul>
    
{% endblock %}
